.flex_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.container_topbar_menu {
  display: flex;
  width: 100%;
  height: 40px;
}

.container_dropdown_menu {
  width: 75%;
  height: 100%;
}

.container_topbar_create_btn {
  width: 25%;
  height: 100%;
}

.container_articles_section {
  width: 80%;
}

.container_sidebar_create_post_btn {
  width: 100%;
}

.right_sidebar_menu {
  width: 20%;
  border: 1px solid gray;
  border-radius: 5px;
  padding-bottom: 20px;
  height: fit-content;
  background-color: white;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .hide_sidebar_menu {
    display: none;
  }

  .container_articles_section {
    width: 100%;
  }
}

@media only screen and (min-width: 767px) {
  .hide_topbar_menu {
    display: none;
  }
}
