.container_LoginForm_username,
.container_LoginForm_password {
  width: 80%;
  margin: 0 auto;
}

.LoginForm {
  margin-top: 300px;
  padding-top: 70px;
  padding-bottom: 40px;
  border-radius: 10px;
}

.label_login {
  display: block;
  width: 100%;
  text-align: left;
}

.LoginForm_password,
.LoginForm_username {
  padding: 25px;
  font-size: 21px;
  border: none;
}

.LoginForm_password:hover,
.LoginForm_username:hover {
  border: 1px solid goldenrod;
}

.LoginForm_password:focus,
.LoginForm_username:focus {
  outline-width: 0;
}

.LoginForm_submit_btn {
  min-width: 200px;
  border-radius: 10px;
  border: none;
}

.LoginForm_submit_btn:hover {
  cursor: pointer;
  border: 1px solid goldenrod;
}
