.category_link {
  text-decoration: none;
  color: black;
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: white;
}

.category_link:focus {
  border-left: 5px solid blue;
}
