* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  padding: env(safe-area-inset);
  min-height: 100vh;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
